.login-box {
  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1em;
}

.login-logo {
  text-align: center;
  color: #999;
}

.login-box input {
  display: block;
  border-radius: 5px;
  margin: 1em auto;
  border: 1px solid #000;
  background-color: #333;
  color: #999;
}

.login-box input[type='submit'] {
  background: #333;
  border-color: #000;
  color: #999;
  cursor: pointer;    
}
