body {
  padding-top: 7vh;
  background-color: #131313;
  color: #999;
}
a {
  color: #999;
  text-decoration: none;
}
.container {
  padding: 0 10%;
}

/****/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  border-bottom: 2px solid #131313;
  position: fixed;
  top: 0;
  width: 80%;
  flex-basis: 100%;
  background-color: #282828;
  backface-visibility: hidden;
}

.header-logo {
  background: url(../img/logo-instalura.svg) no-repeat left;
  height: 1em;
  padding-left: 1.5em;
  padding-bottom: .2em;
  color: red;
}

.header-busca-campo {
  padding: .5em;
  margin-left: 1em;
  background-color: #131313;
  border: 1px solid #131313;
  color: #999;
}

.header-busca-campo:focus {
  outline: 1px solid #282828;
}

.header-busca-submit {
  border: 0;
  background: url(../img/busca-icone.png) center center no-repeat #131313;
  text-indent: -9999px;
  overflow: hidden;
  background-size: 20px;
  min-width: 32px;
  height: 2.4em;
  transition: .4s;
}

.header-busca-submit:hover {
  cursor: pointer;
}

.header-nav {
  list-style: none
}

.header-nav-item span {
  font-size: 3em;
  color: red;
}

/*******/


.foto {
  background-color: #282828;
  border-radius: 3px;
  max-width: 550px;
  margin: 2em auto;
  
}

.foto-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}


.foto-usuario {
  display: flex;
  align-items: center;
  width: 10%;
  margin-left: 0;
  font-weight: bold;
}

.foto-usuario a {
  text-decoration: none;
}

.foto-usuario img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: .7em;
}

.foto-src {
  max-width: 100%;
}

/*****/

.foto-info {
  padding: 1em;
}

.foto-info-likes {
  list-style: none;
}

.foto-info-likes a {
  text-decoration: none;
  font-weight: bold;
}

.foto-info-likes li {
  display: inline-block;
}

.foto-info-autor {
  font-weight: bold;
}


.foto-info-comentarios {
  list-style: none;
  padding: 0;
  line-height: 1.2;
  border-bottom: 1px solid #131313;
  padding-bottom: 1em;
}

.comentario {
  margin-bottom: .6em;
}


/*****/

.fotoAtualizacoes {
  display: flex;
  padding: 0 1em 1em 1em;
}

.fotoAtualizacoes-like {
  background: url(../img/s2.png) no-repeat center center;
  background-size: 32px 32px;
  width: 44px;
  height: 44px;
  text-indent: -9999px;
  display: inline-block;
  transition: .4s;
  margin-right: 1em;
  cursor: pointer;
}

.fotoAtualizacoes-like-active {
  background: url(../img/s2-check.png) no-repeat center center;
  background-size: 32px 32px;
  width: 44px;
  height: 44px;
  text-indent: -9999px;
  display: inline-block;
  transition: .4s;
  margin-right: 1em;
  cursor: pointer;
}


.fotoAtualizacoes-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.fotoAtualizacoes-form-campo {
  border: 0;
  outline: 0;
  width: 60%;
  background-color: transparent;
  border: 1px solid #131313;
  color: #999;
  border-radius: 3px;
  padding-left: 5px;
}

.fotoAtualizacoes-form-submit {
  border: 0;
  background-color: transparent;
  border: 1px solid #131313;
  color: #999;
  border-radius: 3px;
  height: 2.4em;
  cursor: pointer;
}
